<!doctype html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if title %}{{title}} – {% endif %}{{project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main{% if not env.dev %}.min{% endif %}.css">
	<link rel="stylesheet" href="/preview/assets/css/main{% if not env.dev %}.min{% endif %}.css">

	<script src="/assets/js/head{% if not env.dev %}.min{% endif %}.js"></script>
</head>
<body>
	<div class="sg_wrapper{% if additionalLayoutClass %} {{additionalLayoutClass}}{% endif %}">
		<h1 class="sg_title">
			<a href="/" class="sg_logo">{{project}}</a>{% if meta.title %} / {{meta.title}}{% endif %}
		</h1>

		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
