{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
		<div class="sg__module">

			<section class="sg__module__section sg__module__section--variants">
				<h2 class="sg__title sg__title--module">
					{{#if meta.title}}
						{{meta.title}}
					{{else}}
						Module Preview
					{{/if}}
				</h2>

				<div class="sg__tabs">
					{{#each variants}}
						<input type="radio" name="variants" class="sg__tabs__trigger" id="variants{{@index}}"{{#unless @index}} checked{{/unless}} aria-controls="panel{{@index}}" role="tab" />
					{{/each}}

					<div class="sg__tabs__panels">
						{{#each variants}}
							<div class="sg__tabs__panel" id="panel{{@index}}" aria-labelledby="tabLabel{{@index}}" role="tabpanel" tabindex="0">
								<section class="sg__content sg__content--demo">
									<h3 class="sg__content__section_title">Demo</h3>
									<div class="sg__demo">
										{{{meta.demo}}}
									</div>
								</section>
								{{#if meta}}
									<blockquote class="sg__content sg__content--meta">
										{{#if meta.desc}}
											<p>{{meta.desc}}</p>
										{{/if}}
									</blockquote>
								{{/if}}
{{! Indentation matters... }}
{{> "preview/partials/code"}}
							</div>
						{{/each}}
					</div>

					<div class="sg__tabs__labels" role="tablist">
						{{#each variants}}
							<label for="variants{{@index}}" id="tabLabel{{@index}}" role="tab" aria-controls="panel{{@index}}">{{meta.title}}</label>
						{{/each}}
					</div>

				</div>
			</section>

			{{#if meta.documentation}}
				<section class="sg__module__section sg__module__section--documentation">
					<h2 class="sg__title">Documentation</h2>

					<div class="sg__documentation">
						{{{meta.documentation}}}
					</div>
				</section>
			{{/if}}

			{{#if meta.mocks}}
				<section class="sg__module__section sg__module__section--mocks">
					<h2 class="sg__title">Data mocking</h2>

					{{#each meta.mocks}}
						{{#if description}}
							<h3 class="sg__title sg__title--subtitle">{{description}}</h3>
						{{/if}}

						<div class="sg__mocks">
							<pre class="sg__code hljs">{{{data}}}</pre>
						</div>
					{{/each}}
				</section>
			{{/if}}
		</div>

		<script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js"></script>

		{{#block "scripts"}}
			{{#if meta.testScripts}}
				<section class="sg__module__section sg__module__section--tests">
					<h2 class="sg__title">QUnit tests</h2>

					{{> "preview/partials/qunit"}}
				</section>
			{{/if}}
		{{/block}}
	{{/content}}
{{/extend}}
