{{#extend "styleguide/layouts/section"}}
	{{#replace "content"}}

		<ul class="sg_color_list">
			{{#each colors}}
				{{#unless hideFromStyleguide}}
					<li class="sg_color_item" title="{{hexValue}}">
						<div class="sg_color_preview" style="background-color: {{hexValue}}"></div>
						<div class="sg_color_name">{{name}}</div>
						<div class="sg_color_variable_name">$color{{removeWhiteSpace name}}</div>
						<div class="sg_color_value">{{hexValue}}</div>
					</li>
				{{/unless}}
			{{/each}}
		</ul>

	{{/replace}}
{{/extend}}
