<!doctype html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if title}}{{title}} – {{/if}}{{project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<link rel="stylesheet" href="/styleguide/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
</head>
<body>
	<div class="sg_wrapper">
		<h1 class="sg_title">
			<span class="sg_logo"></span>

			{{project}}
		</h1>

		<div class="sg_main">

			{{#if pages }}
				<div class="sg_inner_wrapper var_sg_index">
					<h2>Pages</h2>

					<ul class="sg_index_list">
						{{#each pages}}
							{{#unless styleguide.hideFromListing}}
								<li>
									<a href="{{styleguide.previewUrl}}">{{title}}</a>
								</li>
							{{/unless}}
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{#if modules }}
				<div class="sg_inner_wrapper var_sg_index">
					<h2>Modules</h2>

					<ul class="sg_index_list">
						{{#each modules}}
							{{#unless styleguide.hideFromListing}}
								<li>
									<a href="{{styleguide.previewUrl}}">
										{{styleguide.title}}
										{{#if styleguide.jira}}({{styleguide.jira}}){{/if}}
									</a>
								</li>
							{{/unless}}
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{#if styleguide }}
				<div class="sg_inner_wrapper var_sg_index">
					<h2>Styleguide</h2>

					<ul class="sg_index_list">
						{{#each styleguide}}
							{{#unless styleguide.hideFromListing}}
								<li>
									<a href="{{styleguide.previewUrl}}">
										{{title}}
									</a>
								</li>
							{{/unless}}
						{{/each}}
					</ul>
				</div>
			{{/if}}

		</div>
	</div>
</body>
</html>
