{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
		<ul class="sg_inner_wrapper sg_color_list">
			{{#each colors}}
				{{#unless hideFromStyleguide}}
					<li class="sg_color_item" title="{{color}}">
						<div class="sg_color_preview" style="background-color: {{color}}"></div>
						<div class="sg_color_name">{{name}}</div>
						<div class="sg_color_variable_name">$color{{capitalize name}}</div>
						<div class="sg_color_value">{{color}}</div>
					</li>
				{{/unless}}
			{{/each}}
		</ul>
	{{/content}}
{{/extend}}
