{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
		<h2 class="sg__title sg__title--module">
			{{#if meta.title}}
				{{meta.title}}
			{{else}}
				Module Preview
			{{/if}}
		</h2>
		<ul class="sg__styleguide sg__styleguide__color_list">
			{{#each colors}}
				{{#unless hideFromStyleguide}}
					<li class="sg__styleguide__color_item" title="{{color}}">
						<div class="sg__styleguide__color_preview" style="background-color: {{color}}"></div>
						<div class="sg__styleguide__color_name">{{name}}</div>
						<div class="sg__styleguide__color_variable_name">$color{{capitalize name}}</div>
						<div class="sg__styleguide__color_value">{{color}}</div>
					</li>
				{{/unless}}
			{{/each}}
		</ul>
	{{/content}}
{{/extend}}
