{{!/*
Font definitions
----------------------------
weight muss als array definiert werden auch wenn nur eine verfügbar.
falls die sizes der einzelnen weights unterschiedelich ist können
diese in eigenen blöcken definiert werden.
*/}}

{{#extend "preview/layouts/layout"}}
	{{#content "content"}}
		{{#each fonts}}
			<section class="sg_inner_wrapper">
				<h2 class="sg_h2">{{this.family}}</h2>

				{{#each this.font}}
					<div class="sg_fonts_font">
						{{#each this.weight}}
							{{#each ../this.size}}
								{{#each ../../this.style}}
									<div class="sg_subsection" title="{{../../../../this.family}} {{this}} {{../../this}} {{../this}}px">
										<h3 class="sg_h3">{{this}} {{../../this}} {{../this}}px</h3>

										<div style="font-family: {{../../../../family}}; font-style: {{this}}; font-size: {{../this}}px; font-weight: {{../../this}};">
											A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
											a b c d e f g h i j k l m n o p q r s t u v w x y z
											0 1 2 3 4 5 6 7 8 9 . , ; : - _ = { } ( ) [ ]
										</div>
									</div>
								{{/each}}
							{{/each}}
						{{/each}}
					</div>
				{{/each}}
			</section>
		{{/each}}
	{{/content}}
{{/extend}}
